.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 80px;
}

.global-stats-container {
  width: max(100%, 70%); 
  text-align: left;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
