.chart-header {
  align-items: baseline;
  justify-content: space-between;
  margin: 20px 0;
}

.price-container {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.price-change {
  color: red;
}

