.logo-img-container {
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}


.logo-text {
  font-size: 2rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 4rem;
  background-color: var(--midnight-blue);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-links a {
  position: relative;
  margin-right: 50px;
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 700;
}
.nav-links a::before {
  transition: 200ms;
  height: 3px;
  background: #09eab4;
  content: "";
  width: 0%;
  position: absolute;
  bottom: 0px;
  top: 46px;
}

.nav-links a:hover::before,
.nav-links a.active::before {
  width: 100%;
}
